* {
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
* p{
    font-family: 'Montserrat', sans-serif;
}
.titulo{
    color: #057871; 
    font-size: 30px; 
    font-weight: 700;
}
/*Navbar*/
ion-icon {
    color: #000;
    font-size: 35px;
}
.navbar{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.nav-link{
    color: #000; 
    font-size: 13px; 
    font-weight: 700;
}
.nav-link:hover {color: #000;}
.navbar .dropdown-item{
    color: #000;
    font-size: 12px; 
    font-weight: 700;
}

#navbarSupportedContent li{
    border-left: 1px solid #ccc;
}
/*Portada*/
#Portada_id{
    width: 100%;
    height: 600px;
    background: #007991;
    background: -webkit-linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background: linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background-size:cover;
}
#Portada_id .texto-portada{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    margin-left: 50px;
    height: 450px;
    width: 50%;
    align-items: center;
    text-align: center;
    padding-top: 250px;
}
/* Por debajo de 700px */
@media screen and (max-width: 700px){
 
    #Portada_id .texto-portada{
        width: 100%;
        font-size:12px;
        align-content: center;
        align-items: center;
        text-align: center;
    }
}