* {
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
  }

/*Navbar*/
.navbar{
    margin:0 auto;
    width: 100%;
    position: fixed;    
    border-bottom: 1px solid #ccc;
}
nav{
    height: 40px;
    background: #fff;
}
.navbar-brand img{
    padding: 0 0 0 80px;
    width: 150px;
    height: 40px;
}
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
nav ul li{
    background: #fff;
    position: relative;
    list-style: none;
    display: inline-block;
    border-left: 1px solid #ccc;
}
nav ul li ion-icon{
    font-size: 20px;    
    position: relative;
    padding: 0 2px;
    top: 5px;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: #000;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px; 
    font-weight: 700;
}
nav ul li a:hover{
    line-height: 35px;
    border-bottom: 3px solid #ec7607;
    padding-bottom: 0px;
}
nav ul ul{
    position: absolute;
    top: 38px;
    display: none;    
    border: 1px solid #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}
nav ul li:hover > ul{
    display: block;
    background: #fff;
}
nav ul ul li{
    width:90px;
    border-left: none;
}
nav ul ul li a:hover{
    border-bottom: none;
    background-color: rgba(164, 240, 245, 0.2);
}
/*.navbar{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.nav-link{
    color: #000; 
    font-size: 13px; 
    font-weight: 700;
}
.nav-link:hover {color: #000;}
.navbar .dropdown-item{
    color: #000;
    font-size: 12px; 
    font-weight: 700;
}

#navbarSupportedContent li{
    border-left: 1px solid #ccc;
}*/
/*Portada*/
#Portada_id{
    width: 100%;
    height: 600px;
    background: #007991;
    background: -webkit-linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background: linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background-size:cover;
}
#Portada_id .texto-portada{
    display: flex;
    margin-left: 90px;
    height: 450px;
    width: 45%;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 120px;
}
#Portada_id .texto-portada h1 strong{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
