* {
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
h2{
    font-size: 30px;
}
h3{
    padding-top: 85px;
    font-size: 25px;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-bottom: 5px;   
}
h5{
    font-size: 14px;
    padding-top: 15px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
/*Navbar*/
.navbar{
    margin:0 auto;
    width: 100%;
    position: fixed;  
    z-index: 1;
    border-bottom: 1px solid #ccc;
}
nav{
    height: 40px;
    position: relative;
    background: #fff;
}
.navbar-brand img{
    padding: 0 0 0 80px;
    width: 150px;
    height: 40px;
}
nav .nav-menu{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
nav .nav-menu .nav-item{
    background: #fff;
    position: relative;
    list-style: none;
    display: inline-block;
    border-left: 1px solid #ccc;
}
nav .nav-menu .nav-item ion-icon{
    font-size: 20px;    
    position: relative;
    padding: 0 2px;
    top: 5px;
}
nav .nav-menu li a{
    display: block;
    padding: 0 15px;
    color: #000;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px; 
    font-weight: 700;
}
nav .nav-menu .nav-item .nav-link:hover{
    line-height: 35px;
    border-bottom: 3px solid #ec7607;
    padding-bottom: 0px;
}
nav .nav-menu .dropdown-menu{
    position: absolute;    
    list-style: none;
    top: 38px;
    display: none;    
    border: 1px solid #0000003b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}
nav .nav-menu .nav-item:hover > .dropdown-menu{
    display: block;
    background: #fff;
}
nav .nav-menu .dropdown-menu{
    width:90px;
}
nav .nav-menu .dropdown-menu .dropdown-item:hover{
    background-color: rgba(164, 240, 245, 0.2);
}
/*PORTADA*/
#Portada_id{
    width: 100%;
    height: 600px;
    background: #007991;
    background: -webkit-linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background: linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background-size:cover;
}
#Portada_id .texto-portada{
    display: flex;
    margin-left: 90px;
    height: 450px;
    width: 45%;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 120px;
}
#Portada_id .texto-portada h1 strong{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
/**/
section .container{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
section .title{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}
section .title p ion-icon{
    font-size: 20px;    
    position: relative;
    padding: 0 2px;
    top: 5px;
}
section .title a:hover p{
    color: #ec7607;
}
a{
    color: #000;
    text-decoration: none;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 16px;
}
.cards .card .card-img{
    width: 100%;
    object-fit: cover;    
    height: 170px;
}
/*ARTISTS*/
#Artists{
    margin-top: 30px;
}
.artists-cards{
    margin-top: 10px;
    display: flex;
    overflow-y: auto;
}
.artists-cards .card{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 170px;
    position: relative;
    cursor: pointer;
}
.artists-cards .card .card-img{
    padding: 5px;
    width: 160px;
    height: 160px;
    border-radius: 100px;
}
.borde{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.artists-cards .card-body{
    text-align: center;
}
.artists-cards .hover-img{
    position: absolute;
    width: 160px;
    height: 160px;
    top:0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.842);
    color: #fff;
    font-size: 50px;
    transition: transform 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 5px;
}
.artists-cards .card a:hover h4{
    color: #ec7607;
}
.artists-cards .card a:hover .hover-img{
    transform: scale(1);
}
/*ADVERT*/
#Advert{
    margin-top: 50px;
    margin-bottom: 40px;
}
.advert-img img{
    width: 100%;
    object-fit: cover;
    height: 530px;
}
/*CURIOSITY*/
.newMusic-cards .card{
    margin-bottom: 20px;
    width: 195px;
    padding: 4px;
}
.newMusic-cards .card .card-img{
    border-radius: 3px;
}
.newMusic-cards .card a:hover h4{
    color: #ec7607;
}
/*PLAYLISTS*/
.playlists-cards .card{
    margin-bottom: 20px;
    width: 195px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.hover-img{
    position: absolute;
    width: 195px;
    height: 170px;
    top:0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.842);
    color: #fff;
    font-size: 50px;
    transition: transform 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlists-cards .card a:hover h4{
    color: #ec7607;
}
.card a:hover .hover-img{
    transform: scale(1);
}
.more a:hover h5{
    color: #ec7607;
}
/*CATEGORIES*/
#Categories{
    background: #f2f2f2;
    margin-top: 25px;
}
.category-cards{
    padding-bottom: 45px;
}
.category-cards .card{
    margin-right: 10px;
    position: relative;
    width: 18%;
}
.category-cards .card .card-img{
    /*width: 100%;
    object-fit: cover;*/    
    height: 200px;
}
.category-cards .card-body{
    position: absolute;
    top: 0;
    background: hsla(0, 0%, 0%, 0.336);
    width: 100%;
    height: 200px;
    text-align: center;
    color: #fff;
}
#Categories .card-body:hover{
    background: hsla(0, 0%, 0%, 0.856);
    color:#ec7607;
}
@media (max-width: 800px) {
    .card{
        width: 45%;
    }
  }
/*FOOTER*/
footer{
    background: #000;
    color: #fff;
    text-align: center;
}
footer a img{
    width: 150px;
    height: 40px;
}
footer .footer-info li{
    position: relative;
    list-style: none;
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
footer .footer-info li a{
    display: block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px; 
    font-weight: 700;
}
/*---------------------------------------------------------------*/
/*SONGS*/
#Songs-section{
    padding-bottom: 25px;    
    background: #f2f2f2;
}
.portada-artista-img img{
    width: 100%;
    object-fit: cover;
    height: 430px;
}
.songs{
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.songs .tableSongs{
    width: 90%;
    display: table;
    text-align: center;
}
.name{
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.songs .tableSongs thead{
    height: 40px;
}
.song-card-img{
    width: 40px;
    height: 40px;
    padding-right: 8px;
}
.numSong{
    position: relative;
}
.moreSong{
    position: relative;
    color: #fff;
}
.moreSong p{
    color: #fff;
}
.icon-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.842);
    color: #fff;
    font-size: 18px;
    transition: transform 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numSong a:hover .icon-hover{
    transform: scale(1);
}
.moreSong a:hover .icon-hover{
    transform: scale(1);
}
.elem{
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: auto 350px;    
    padding: 10px;
}  
.grid-item {
    text-align: center;
}