* {
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
  }

/*Navbar*/
.navbar{
    margin:0 auto;
    width: 100%;
    position: fixed;  
    z-index: 1;
    border-bottom: 1px solid #ccc;
}
nav{
    height: 40px;
    position: relative;
    background: #fff;
}
.navbar-brand img{
    padding: 0 0 0 80px;
    width: 150px;
    height: 40px;
}
nav .nav-menu{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
nav .nav-menu .nav-item{
    background: #fff;
    position: relative;
    list-style: none;
    display: inline-block;
    border-left: 1px solid #ccc;
}
nav .nav-menu .nav-item ion-icon{
    font-size: 20px;    
    position: relative;
    padding: 0 2px;
    top: 5px;
}
nav .nav-menu li a{
    display: block;
    padding: 0 15px;
    color: #000;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px; 
    font-weight: 700;
}
nav .nav-menu .nav-item .nav-link:hover{
    line-height: 35px;
    border-bottom: 3px solid #ec7607;
    padding-bottom: 0px;
}
nav .nav-menu .dropdown-menu{
    position: absolute;    
    list-style: none;
    top: 38px;
    display: none;    
    border: 1px solid #0000003b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}
nav .nav-menu .nav-item:hover > .dropdown-menu{
    display: block;
    background: #fff;
}
nav .nav-menu .dropdown-menu{
    width:90px;
}
nav .nav-menu .dropdown-menu .dropdown-item:hover{
    background-color: rgba(164, 240, 245, 0.2);
}
/*Portada*/
#Portada_id{
    width: 100%;
    height: 600px;
    background: #007991;
    background: -webkit-linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background: linear-gradient(to left, hsla(0, 0%, 3%, 0.63), hsla(0, 0%, 3%, 0.63)), url('../img/Portada3.jpg');
    background-size:cover;
}
#Portada_id .texto-portada{
    display: flex;
    margin-left: 90px;
    height: 450px;
    width: 45%;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 120px;
}
#Portada_id .texto-portada h1 strong{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
/**/
section .conteiner{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
/*Artists*/
.slider-artists{
    margin-top: 10px;
    display: flex;
    overflow-y: auto;
}
.slider-artists img{
    width: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    display: block;
}

/*Mixes*/

/*Curiosity*/

/*Categories*/
#Categories{
    background: #f2f2f2;
}
.category-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 16px;
}
.card{
    margin-right: 10px;
    position: relative;
    width: 18%;
}
.card .card-img{
    width: 100%;
    object-fit: cover;    
    height: 200px;
}
.card-body{
    position: absolute;
    top: 0;
    background: hsla(0, 0%, 0%, 0.336);
    width: 100%;
    height: 200px;
    text-align: center;
    color: #fff;
}
.card-body h4{
    padding-top: 85px;
    font-size: 25px;
}
.card-body:hover{
    background: hsla(0, 0%, 0%, 0.856);
    color:#ec7607;
}
@media (max-width: 800px) {
    .card{
        width: 45%;
    }
  }
